// font-size of heart
.fa-heart{
    font-size: 2.3em;
}
// First heart-border in absolute for the heart-solid
.like{
    position: absolute;
}
// Second heart-solid in relative TO the heart-border
.like_hidden{
    color: transparent;
    position: relative;
    animation: emptyHeart 0.2s ease forwards;
}
.like_hidden:hover{
    animation: fillHeart 0.4s ease forwards;
}
// Coeur qui se remplit au passage de la souris/ou au clique sur les devices plus petits.
@keyframes fillHeart{
    from{
        background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
        background-repeat: no-repeat;
        background-position-y: 28px;
        background-clip: text;
    }
    to{
        background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
        background-repeat: no-repeat;
        background-position-y: 0;
        background-clip: text;
    }
}
// Coeur qui se vide lorsque la souris se retire du coeur.
@keyframes emptyHeart{
    from{
        background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
        background-repeat: no-repeat;
        background-position-y: 0;
        background-clip: text;
    }
    to{
        background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
        background-repeat: no-repeat;
        background-position-y: 28px;
        background-clip: text;
    }
}